.directory-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 60%;
}

.directory-header {
    font-size: 40px;
    padding: 50px;
    color: white;
    background-color: #7b35f4;
    text-align: left;
}
.directory-header-filter {
    display: block;
}

.directory-header-create {
    display: none;
}

.directory-header-input {
    height: 40px;
    width: 80%;
}

/* .directory-header-input.hide {
    display: none;
} */

.contact:nth-child(odd) {
    background-color: silver;
}

.directory-header-btn {
    height: 46px;
    width: 100px;
    margin-left: 10px; 
}